@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-900 dark:text-white bg-white dark:bg-gray-950 transition-colors duration-300;
  }
  /* Hide default cursor only on devices with hover capability to avoid issues on touch devices */
  @media (hover: hover) and (pointer: fine) {
    body {
      cursor: none;
    }
  }
}

/* Custom Utilities if needed */
